h3 {
  font-size: 11px;
  text-transform: uppercase;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.input-search {
  width: 95%;
  height: 25px;
  padding-left: 30px;
  color: #dae4ea;
  background: url('assets/magnifier-tool.svg');
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-size: 16px;
}

.input-search::placeholder {
  color: white;
}

.table-footer {
  height: 37px;
}

table {
  display: flex;
  flex-direction: column;
  width: 500px;
  /*height: 100%;*/
  empty-cells: show;
  border-collapse: collapse;
  background: white;
  justify-content: flex-start;
}

thead {
  display: flex;
  height: 10%;
  border: 0;
  background: #6f7e95;
}

tbody {
  display: flex;
  flex-direction: column;
  height: 90%;
  background: white;
}

th {
  font-size: 10px;
  width: 25%;
  text-transform: uppercase;
  color: #6a7278;
}

td {
  width: 80%;
  color: black;
}

th,
td {
  font-size: 10px;
  font-weight: 700;
  display: flex;
  padding: 10px 0 10px 0;
  text-align: left;
  align-items: center;
}

tr {
  display: flex;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f4f4f4;
}

h3.table-header {
  font-size: 10px;
  line-height: 23px;
  color: white;
}

.edit-button {
  width: 60px;
  height: 23px;
  margin-left: 12px;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #7e8ca8;
}

.edit-button:before {
  font-family: 'FontAwesome';
  padding-right: 5px;
  content: '\f040';
}

.edit-button:hover {
  background-color: #364155;
}

.fa.mobile {
  display: none;
}

.facebook-button,
.twitter-button,
.linkedin-button {
  font-size: 12px;
  width: 100%;
  height: 36px;
  color: white;
  border: none;
}

.twitter-button,
.linkedin-button {
  margin-top: 10px;
}

.facebook-button {
  background: #4a6dc0;
}

.twitter-button {
  background: #01aaef;
}

.linkedin-button {
  background: #037fbd;
}

.facebook-button:hover {
  background: #6785cb;
}

.twitter-button:hover {
  background: #34c5fe;
}

.linkedin-button:hover {
  background: #04a2f1;
}

.facebook-button:before {
  font-family: 'FontAwesome';
  position: relative;
  left: -43px;
  content: '\f09a';
  color: white;
}

.twitter-button:before {
  font-family: 'FontAwesome';
  position: relative;
  left: -50px;
  content: '\f099';
  color: white;
}

.linkedin-button:before {
  font-family: 'FontAwesome';
  position: relative;
  left: -43px;
  content: '\f08c';
  color: white;
}


/*=======================================
>>>>>>>>  Right Side Bar  <<<<<<<<
========================================*/

.right-side-bar-container {
  display: flex;
  flex-direction: column;
  width: 226px;
  justify-content: space-between;
  align-items: center;
}

.right-side-bar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  justify-content: center;
}

.right-side-bar-wrapper.job,
.right-side-bar-wrapper.widget {
  border-bottom: 1px solid #6a7278;
}

span.right-side-bar {
  padding-top: 15px;
}

h2.right-side-bar.link-job,
h2.right-side-bar.widget,
h2.right-side-bar.upload-resume {
  font-size: 14px;
  color: #6a7278;
}

p.right-side-bar.link-job,
p.right-side-bar.widget,
p.right-side-bar.upload-resume {
  font-size: 10px;
  line-height: 15px;
  padding-top: 8px;
  color: #8d979f;
}

p.right-side-bar.link-job-url,
p.right-side-bar.widget-url,
p.right-side-bar.upload-resume-url {
  height: 26px;
  line-height: 24px;
  width: 100%;
  font-size: 10px;
  display: inline-block;
  color: #8d979f;
  background: white;
}

button.right-side-bar.link-job-url,
button.right-side-bar.widget-url,
button.right-side-bar.upload-resume-url {
  float: right;
  font-size: 8px;
  width: 40px;
  height: 26px;
  margin-left: 5px;
  color: white;
  border: none;
  background: #41b9be;
}

h2.right-side-bar.link-job:before {
  font-family: 'FontAwesome';
  position: relative;
  padding-right: 5px;
  content: '\f0ac';
  color: #6a7278;
}

h2.right-side-bar.widget:before {
  font-family: 'FontAwesome';
  position: relative;
  padding-right: 5px;
  content: '\f14c';
  color: #6a7278;
}

h2.right-side-bar.upload-resume:before {
  font-family: 'FontAwesome';
  position: relative;
  padding-right: 5px;
  content: '\f1d8';
  color: #6a7278;
}


/*=======================================
>>>>>>>>  Graphs  <<<<<<<<
========================================*/

.metrics-container {
  display: flex;
  flex-direction: row;
  height: 220px;
  border: 2px solid transparent;
  border-top: 1px solid #d7e4ea;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.graph-applicants-wrapper {}

div.graph-applicants {
  width: 300px;
  height: 124px;
  background-image: url('assets/bar-chart.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h2.circle-graph-1,
h2.circle-graph-2,
h2.circle-graph-3 {
  text-align: center;
}

h3.graph-applicants {
  font-size: 8px;
  line-height: 17px;
  width: 100px;
  height: 20px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  color: #6a7278;
  border: 1px solid #d7e4ea;
  border-radius: 50px;
  background: white;
}

h3.circle-graph-1,
h3.circle-graph-2,
h3.circle-graph-3 {
  font-size: 9px;
  text-align: center;
  color: #8895a5;
}

.circle-graph-text-container {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 20px;
  margin-top: 20px;
  border: 1px solid #d7e4ea;
  border-radius: 50px;
  background: white;
  align-items: center;
  justify-content: center;
}

.circle-graphs-text.total,
.circle-graphs-text.number,
.circle-graphs-text.out,
.circle-graphs-text.views {
  font-size: 8px;
  font-weight: 700;
  color: #6a7278;
}

.circle-graphs-text.number {
  font-weight: 700;
  padding-left: 2px;
}

.circle-graphs-text.views {
  padding-left: 2px;
  text-transform: lowercase;
}

.circle-graphs-text.out {
  padding-left: 2px;
  text-transform: capitalize;
}

section.circle-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.circle-graph-container {
  display: flex;
  flex-direction: row;
}

.circle-graph-1-container,
.circle-graph-2-container,
.circle-graph-3-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: solid;
  border-width: 6px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.circle-graph-1-container {
  transform: rotate(60deg);
  border-color: #4eb8bf #d9e2e7 #4eb8bf #4eb8bf;
}

.circle-graph-2-container {
  transform: rotate(25deg);
  border-color: #d9e2e7 #d9e2e7 #17a3f7 #17a3f7;
}

.circle-graph-3-container {
  transform: rotate(25deg);
  border-color: #d9e2e7 #d9e2e7 #b068af #d9e2e7;
}

.circle-graph-1-wrapper {
  transform: rotate(-60deg);
}

.circle-graph-2-wrapper {
  transform: rotate(-25deg);
}

.circle-graph-3-wrapper {
  transform: rotate(-25deg);
}

.circle-graph-1-container,
.circle-graph-2-container,
.circle-graph-3-container {
  width: 100px;
  height: 100px;
}


/*=======================================
>>>>>>>>  TO REORDER  <<<<<<<<
========================================*/

tfoot {
  display: none;
}

.main-container {
  width: 822px;
  background-color: #edf2f6;
}

.jobs-side-bar,
.nav-top,
.service-rep-container {
  margin: 0 30px 0 30px;
}


/*.nav-metrics-container{
margin: 0 30px 0 30px;
}*/

.jobs-side-bar {
  display: flex;
  flex-direction: row;
  width: 93%;
  justify-content: space-between;
}

.table-wrapper {
  margin: 0;
}

.edit-button {
  float: left;
  margin-left: 0;
}


/*=======================================
>>>>>>>>  Aside  <<<<<<<<
========================================*/

.table-footer {
  display: none;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #0e0e0e;
  align-items: flex-start;
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 980px;
  background: #354052;
}

article {
  width: 500px;
}

header.mobile {
  display: none;
}

.aside-profile-container,
.aside-main-container,
.aside-admin-container,
.aside-categories-container {
  display: flex;
  border-bottom: 2px solid #30394a;

  align-items: center;
}

.aside-profile-container {
  height: 12%;
  min-height: 100px;
  justify-content: center;
}

.aside-main-container {
  height: 20%;
  min-height: 176px;
  border-bottom: 2px solid #30394a;
}

.aside-admin-container {
  height: 20%;
  min-height: 176px;
  border-bottom: 2px solid #30394a;
}

.aside-categories-container {
  height: 15%;
  min-height: 145px;
  border-bottom: 2px solid #30394a;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-image: url('assets/justin_timberlake.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-pic2 {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-image: url('assets/justin_timberlake.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}

.aside-main-wrapper,
.aside-admin-wrapper,
.aside-categories-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20px;
  height: 85%;
}

.aside-profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
h3.aside {
  display: flex;
  height: 25px;
  /*border:1px solid red;*/
  padding-left: 15px;
  align-items: center;
}

a,
.user-name {
  font-size: 9px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #939dae;
}

a.administrative,
a.design,
a.executive,
a.human-resources {
  text-transform: capitalize;
}

.user-name {
  margin-top: 10px;
  text-transform: capitalize;
}

h3.aside {
  font-size: 9px;
  text-transform: capitalize;
  color: #647183;
}


/*=======================================
>>>>>>>>  Aside Icons  <<<<<<<<
========================================*/

.administrative:before,
.design:before,
.executive:before,
.human-resources:before,
.home:before,
.jobs:before,
.resumes:before,
.tasks:before,
.calendar:before,
.users:before,
.locations:before,
.workflows:before,
.job-boards:before,
.social:before,
.user-name:after {
  font-family: 'FontAwesome';
  font-size: 12px;
  position: relative;
  padding-right: 8px;
  color: #939dae;
}

.user-name:after {
  padding-right: 0;
  padding-left: 5px;
  content: '\f14c';
}

.home:before {
  content: '\f015';
}

.jobs:before {
  content: '\f0b1';
}

.resumes:before {
  content: '\f0f6';
}

.tasks:before {
  content: '\f0ae';
}

.calendar:before {
  content: '\f133';
}

.users:before {
  content: '\f2be';
}

.locations:before {
  content: '\f124';
}

.workflows:before {
  content: '\f0e8';
}

.job-boards:before {
  content: '\f0ea';
}

.social:before {
  content: '\f143';
}

.administrative:before {
  content: '\f14a';
}

.design:before {
  content: '\f14a';
}

.executive:before {
  content: '\f14a';
}

.human-resources:before {
  content: '\f14a';
}

.home:hover,
.jobs:hover,
.resumes:hover,
.tasks:hover,
.calendar:hover,
.users:hover,
.locations:hover,
.workflows:hover,
.job-boards:hover,
.social:hover,
.administrative:hover,
.design:hover,
.executive:hover,
.human-resources:hover {
  color: white;
}

.home:hover:before,
.jobs:hover:before,
.resumes:hover:before,
.tasks:hover:before,
.calendar:hover:before,
.users:hover:before,
.locations:hover:before,
.workflows:hover:before,
.job-boards:hover:before,
.social:hover:before {
  color: white;
}

.administrative:hover:before {
  color: #ecd507;
}

.design:hover:before {
  color: #27a9f8;
}

.executive:hover:before {
  color: #e5175d;
}

.human-resources:hover:before {
  color: #07a788;
}

a:hover {
  border-left: 2px solid #17a1f3;
  background: #30394a;
}


/*=======================================
>>>>>>>>  header  <<<<<<<<
========================================*/

.top-search-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #d7e4ea;
  background: white;
  justify-content: space-between;
}

.top-search-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.top-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search {
  margin: 0;
  border: 0;
  background-color: white;
  margin-bottom: 15px;
}

.input-search::placeholder {
  color: #939dae;
  background-color: white;
}

.hamburger,
.user,
.calendar2,
.button-pad {
  width: 50px;
  height: 50px;
  border: none;
  background: white;
}

.hamburger {
  border-right: 1px solid #d7e4ea;
}

.user,
.calendar2,
.button-pad {
  border-left: 1px solid #d7e4ea;
}

.hamburger:before,
.user:before,
.calendar2:before,
.button-pad:before {
  font-family: 'FontAwesome';
  font-size: 14px;
  position: relative;
  color: #939dae;
  background-color: white;
}

.hamburger:before {
  content: '\f0c9';
}

.user:before {
  content: '\f234';
}

.calendar2:before {
  content: '\f271';
}

.button-pad:before {
  content: '\f00a';
}

.hamburger:hover:before,
.user:hover:before,
.calendar2:hover:before,
.button-pad:hover:before {
  color: white;
  background: #15a4fc;
}

.hamburger:hover,
.user:hover,
.calendar2:hover,
.button-pad:hover {
  cursor: pointer;
  cursor: hand;
  color: white;
  background: #15a4fc;
}


/*=======================================
>>>>>>>>  nav top  <<<<<<<<
========================================*/

nav.nav-top {
  display: flex;
  flex-direction: row;
  /*border: 2px solid transparent;*/
  border-bottom: 1px solid #d7e4ea;
  background: white;
}

h2.nav-top-1,
h2.nav-top-2,
h2.nav-top-3,
h2.nav-top-4,
h2.nav-top-5,
h2.nav-top-6,
h2.nav-top-7,
h2.nav-top-8 {
  font-size: 10px;
  margin: 14px 14px 0 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  color: #8895a5;
  border-bottom: 2px solid transparent;
}

h2.nav-top-1 {
  margin: 14px 14px 0 0;
}

h2.nav-top-1:hover,
h2.nav-top-2:hover,
h2.nav-top-3:hover,
h2.nav-top-4:hover,
h2.nav-top-5:hover,
h2.nav-top-6:hover,
h2.nav-top-7:hover,
h2.nav-top-8:hover,
{
  color: #67686d;
  border-bottom: 2px solid #2fabf9;
}


/*=======================================
>>>>>>>>  service rep header  <<<<<<<<
========================================*/

.nav-header-container {
  padding-top: 30px;
  background-color: white;
}

.service-rep-container {
  display: flex;
  flex-direction: row;
  background: white;
  justify-content: space-between;
}

div.service-rep {
  display: flex;
  flex-direction: row;
}

h1.service-rep {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

h3.service-rep1,
h3.service-rep2 {
  font-size: 10px;
  font-weight: 400;
  padding-top: 8px;
  text-transform: capitalize;
  color: #8895a5;
}

h3.service-rep2 {
  padding-left: 5px;
  color: #81ccf5;
}

.open {
  font-size: 9px;
  font-weight: 700;
  width: 60px;
  height: 25px;
  border: 1px solid #d7e4ea;
  border-radius: 50px;
  background-color: white;
}

.bookmark,
.pencil,
.trash {
  width: 25px;
  height: 25px;
  border: 1px solid #d7e4ea;
  border-radius: 100px;
  background-color: white;
}

.open:before,
.bookmark:before,
.pencil:before,
.trash:before {
  font-family: 'FontAwesome';
  font-size: 8px;
  position: relative;
  color: #939dae;
  background-color: white;
}

.bookmark:before,
.pencil:before,
.trash:before {
  font-size: 12px;
}

.open:before {
  padding-right: 4px;
  content: '\f111';
  color: #88c92b;
}

.bookmark:before {
  content: '\f02e';
}

.pencil:before {
  content: '\f040';
}

.trash:before {
  content: '\f014';
}


/*=======================================
>>>>>>>>  divider  <<<<<<<<
========================================*/

button.divider {
  padding-top: 0px;
  background: white;
  border-radius: 100px;
  border: 1px solid #D7E4EA;
  height: 25px;
  width: 25px;
}

button.divider:before {
  font-family: 'FontAwesome';
  font-size: 8px;
  background-color: white;
  color: #D7E4EA;
  position: relative;
  content: "\f077";
  border: 0px;
}

div.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

span.divider {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

span.divider:after {
  display: inline-block;
  margin: 0 0 3px 20px;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #D7E4EA;
  width: 50%;
}

span.divider:before {
  display: inline-block;
  margin: 0 20px 3px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #D7E4EA;
  width: 40%;
}

@media (max-width: 950px) {
  .main-container {
    width: 450px;
  }
  .metrics-container {
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .jobs-side-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .jobs-side-bar {
    width: 100%;
    margin: 0px;
  }
  aside {
    height: 1098px;
  }
  .facebook-button {
    margin-top: 10px;
  }
  .right-side-bar-container {
    width: 300px;
  }
  span.divider:before,
  span.divider:after {
    width: 35%;
  }
  .service-rep-container {
    display: block;
  }
  .service-rep-button-container {
    padding-top: 10px;
  }
  .right-side-bar-wrapper.job,
  .right-side-bar-wrapper.widget,
  .right-side-bar-wrapper {
    display: none;
  }
  .linkedin-button {
    margin-bottom: 10px;
  }
  .nav-top-5,
  .nav-top-6,
  .nav-top-7 {
    display: none;
  }
  .nav-top {
    justify-content: center;
  }
  table {
    width: 434px;
  }
  th {
    width: 25%;
  }
  .body-container {
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 589px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: #EDF2F6;
    ;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
  }
  aside {
    display: none;
  }
  .nav-top-4 {
    display: none;
  }
  .this-container {
    display: none;
  }
  header.mobile {
    display: flex;
  }
  header.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #364155;
    align-items: center;
  }
  /*=======================================
  >>>>>>>>  nav icons  <<<<<<<<
  ========================================*/
  .fa {
    text-align: center;
    color: #adb8ca;
  }
  .fa-home:before {
    font-size: 1.33333333em;
  }
  .fa-home:hover,
  .fa-briefcase:hover,
  .fa-file-text-o:hover,
  .fa-tasks:hover,
  .fa-calendar-o:hover,
  .fa-user-circle:hover {
    color: white;
  }
  nav.mobile {
    display: flex;
    width: 95%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
  }
  .article-header-div {
    height: 40px;
    background: #6f7e95;
    align-items: center;
  }
  .fa-facebook,
  .fa-twitter,
  .fa-linkedin-square {
    float: right;
    padding-left: 10px;
  }
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-linkedin-square:hover {
    color: #364155;
  }
  .money {
    font-weight: 700;
  }
  .nav-header-container {
    margin-top: 5px;
  }
}

@media (max-width: 470px) {
  .right-side-bar-container {
    display: none;
  }
  .nav-top-3,
  .nav-top-4 {
    display: none;
  }
  .service-rep-container {
    flex-wrap: wrap;
  }
  .main-container {
    width: 304px;
  }
  .circle-graph-1-container,
  .circle-graph-2-container,
  .circle-graph-3-container {
    width: 75px;
    height: 75px;
  }
  h2.circle-graph-1,
  h2.circle-graph-2,
  h2.circle-graph-3 {
    font-size: 14px;
  }
  h3.circle-graph-1,
  h3.circle-graph-2,
  h3.circle-graph-3 {
    font-size: 8px;
  }
  .graph-applicants {
    width: 300px;
    height: 102px;
  }
  table {
    width: 300px;
  }
  tfoot {
    display: flex;
  }
  table-footer {
    display: flex;
  }
  th {
    width: 48%;
  }
  h3.table-header {
    font-size: 9px;
  }
  .table-row {
    flex-direction: column;
  }
  .service-rep1 {
    margin-bottom: 10px;
  }
}
