/*=======================================
>>>>>>>>  Fonts  <<<<<<<<
========================================*/


/*@media (min-width: 400px) {
  .table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F4F4F4;
  }
}*/


/*@media (max-width: 550px) {*/

h3 {
  text-transform: uppercase;
  font-size: 11px;
}

* {
  box-sizing: border-box;
  margin: 0;
  /*border: 1px solid pink;*/
  font-family: 'Open Sans', sans-serif;
}

.input-search {
  margin: 0 13px 13px 13px;
  padding-left: 30px;
  border: none;
  width: 95%;
  height: 25px;
  background: url("assets/search.png");
  background-size: 16px;
  background-position-y: 5px;
  background-position-x: 5px;
  color: #DAE4EA;
  background-repeat: no-repeat;
  background-color: #6F7E95;
}

.input-search::placeholder {
  color: white;
}

.table-footer {
  height: 37px;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  height: 100%;
  border-collapse: collapse;
  empty-cells: show;
  width: 500px;
}

thead {
  display: flex;
  background: #6F7E95;
  border: 0px;
  height: 10%;
}

tbody {
  display: flex;
  flex-direction: column;
  height: 90%;
  background: white;
}


/*=======================================
  >>>>>>>>  uhg  <<<<<<<<
  ========================================*/

th {
  text-transform: uppercase;
  font-size: 10px;
  width: 20%;
  color: #6a7278;
}

td {
  width: 80%;
  color: black;
}

th,
td {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 9px;
  padding: 10px 0 10px 0;
  font-weight: 700;
}

tr {
  display: flex;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #F4F4F4;
}

h3.table-header {
  color: white;
  line-height: 23px;
  font-size: 10px;
}

.edit-button {
  background: #7E8CA8;
  border: none;
  text-transform: uppercase;
  color: white;
  margin-left: 12px;
  width: 60px;
  height: 23px;
}

.edit-button:before {
  font-family: 'FontAwesome';
  content: "\f040";
  padding-right: 5px;
}

.edit-button:hover {
  background-color: #364155;
}


/*=======================================
  >>>>>>>>  added  <<<<<<<<
  ========================================*/

.fa.mobile {
  display: none;
}

.facebook-button,
.twitter-button,
.linkedin-button {
  height: 36px;
  width: 100%;
  /*margin: 5px;*/
  border: none;
  color: white;
  font-size: 12px;
}

.twitter-button,
.linkedin-button {
  margin-top: 10px;
}

.facebook-button {
  background: #4A6DC0;
}

.twitter-button {
  background: #01AAEF;
}

.linkedin-button {
  background: #037FBD;
}

.facebook-button:hover {
  background: #6785cb;
}

.twitter-button:hover {
  background: #34c5fe;
}

.linkedin-button:hover {
  background: #04a2f1;
}

.facebook-button:before {
  font-family: 'FontAwesome';
  content: "\f09a";
  color: white;
  position: relative;
  left: -43px;
}

.twitter-button:before {
  font-family: 'FontAwesome';
  content: "\f099";
  color: white;
  position: relative;
  left: -50px;
}

.linkedin-button:before {
  font-family: 'FontAwesome';
  content: "\f08c";
  color: white;
  position: relative;
  left: -43px;
}


/*=======================================
  >>>>>>>>  right-side-bar  <<<<<<<<
  ========================================*/

.right-side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 226px;
  /*border: 1px solid red;*/
}

.right-side-bar-wrapper {
  display: flex;
  width: 100%;
  height: 140px;
  justify-content: center;
  flex-direction: column;
}

.right-side-bar-wrapper.job,
.right-side-bar-wrapper.widget {
  border-bottom: 1px solid #6a7278;
}

span.right-side-bar {
  padding-top: 15px;
}

h2.right-side-bar.link-job,
h2.right-side-bar.widget,
h2.right-side-bar.upload-resume {
  color: #6a7278;
  font-size: 14px;
}

p.right-side-bar.link-job,
p.right-side-bar.widget,
p.right-side-bar.upload-resume {
  padding-top: 8px;
  font-size: 10px;
  line-height: 15px;
  color: #8D979F;
}

p.right-side-bar.link-job-url,
p.right-side-bar.widget-url,
p.right-side-bar.upload-resume-url {
  display: inline-block;
  font-size: 10px;
  color: #8D979F;
  background: white;
}

button.right-side-bar.link-job-url,
button.right-side-bar.widget-url,
button.right-side-bar.upload-resume-url {
  height: 26px;
  width: 40px;
  margin-left: 5px;
  background: #41B9BE;
  color: white;
  border: none;
  font-size: 8px;
}

h2.right-side-bar.link-job:before {
  font-family: 'FontAwesome';
  content: "\f0ac";
  color: #6a7278;
  position: relative;
  padding-right: 5px;
}

h2.right-side-bar.widget:before {
  font-family: 'FontAwesome';
  content: "\f14c";
  color: #6a7278;
  position: relative;
  padding-right: 5px;
}

h2.right-side-bar.upload-resume:before {
  font-family: 'FontAwesome';
  content: "\f1d8";
  color: #6a7278;
  position: relative;
  padding-right: 5px;
}


/*=======================================
  >>>>>>>>  Graphs  <<<<<<<<
  ========================================*/

.metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #D7E4EA;
  /*margin: 0px 0 30px 0;*/
  border: 2px solid transparent;
  height: 220px;
  flex-wrap: wrap;
}

.graph-applicants-wrapper {
  /*margin:10px;*/
}

div.graph-applicants {
  height: 124px;
  width: 300px;
  background-image: url("assets/bar-chart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h2.circle-graph-1,
h2.circle-graph-2,
h2.circle-graph-3 {
  text-align: center;
}

h3.graph-applicants {
  text-align: center;
  color: #6a7278;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #D7E4EA;
  border-radius: 50px;
  width: 100px;
  height: 20px;
  font-size: 8px;
  line-height: 17px;
  background: white;
}

h3.circle-graph-1,
h3.circle-graph-2,
h3.circle-graph-3 {
  font-size: 9px;
  text-align: center;
  color: #8895a5;
}

.circle-graph-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 150px;
  margin-top: 20px;
  border: 1px solid #D7E4EA;
  border-radius: 50px;
  background: white;
}

.circle-graphs-text.total,
.circle-graphs-text.number,
.circle-graphs-text.out,
.circle-graphs-text.views {
  color: #6a7278;
  font-size: 8px;
  font-weight: 700;
}

.circle-graphs-text.number {
  padding-left: 2px;
  font-weight: 700;
}

.circle-graphs-text.views {
  text-transform: lowercase;
  padding-left: 2px;
}

.circle-graphs-text.out {
  text-transform: capitalize;
  padding-left: 2px;
}

section.circle-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: 10px;*/
}

div.circle-graph-container {
  display: flex;
  flex-direction: row;
}

.circle-graph-1-container,
.circle-graph-2-container,
.circle-graph-3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: solid;
  border-width: 6px;
  margin: 10px;
}

.circle-graph-1-container {
  transform: rotate(60deg);
  border-color: #4EB8BF #D9E2E7 #4EB8BF #4EB8BF;
}

.circle-graph-2-container {
  transform: rotate(25deg);
  border-color: #D9E2E7 #D9E2E7 #17A3F7 #17A3F7;
}

.circle-graph-3-container {
  transform: rotate(25deg);
  border-color: #D9E2E7 #D9E2E7 #B068AF #D9E2E7;
}

.circle-graph-1-wrapper {
  transform: rotate(-60deg);
}

.circle-graph-2-wrapper {
  transform: rotate(-25deg);
}

.circle-graph-3-wrapper {
  transform: rotate(-25deg);
}


}

/*=======================================
>>>>>>>>  changes to organize  <<<<<<<<
========================================*/

/*=======================================
  >>>>>>>>  changes to reorder <<<<<<<<
  ========================================*/
.circle-graph-1-container,
.circle-graph-2-container,
.circle-graph-3-container {
  width: 100px;
  height: 100px;
}
/*div.graph-applicants {
  height: 124px;
  width: 300px;
  background-image: url("assets/bar-chart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}*/

/*=======================================
>>>>>>>>  changes to reorder  <<<<<<<<
========================================*/
tfoot {
  display: none;
}
.main-container {
  width: 822px;
  background-color: #EDF2F6;
}
.body-container {
  margin: 0 30px 0 30px;
}
.jobs-side-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.table-wrapper {
  margin: 0;
}
.edit-button {
  float: left;
  margin-left: 0px;
}

/*=======================================
  >>>>>>>>  ASIDE  <<<<<<<<
  ========================================*/
.table-footer {
  display: none;
}
body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #0E0E0E;
}
aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 140px;
  background: #354052;
}
article {
  width: 500px;
}
header.mobile {
  display: none;
}
.aside-profile-container,
.aside-main-container,
.aside-admin-container,
.aside-categories-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #30394A;
}
.aside-profile-container {
  justify-content: center;
  height: 12%;
  min-height: 100px;
}
.aside-main-container {
  height: 20%;
  min-height: 176px;
  border-bottom: 2px solid #30394A;
}
.aside-admin-container {
  height: 20%;
  min-height: 176px;
  border-bottom: 2px solid #30394A;
}
.aside-categories-container {
  border-bottom: 2px solid #30394A;
  height: 15%;
  min-height: 145px;
}
.profile-pic {
  width: 60px;
  height: 60px;
  background-image: url("assets/justin_timberlake.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
}
.aside-main-wrapper,
.aside-admin-wrapper,
.aside-categories-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20px;
  /*align-items: flex-start;*/
  /*justify-content: space-around;*/

  height: 85%
}
.aside-profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a,
h3.aside {
  display: flex;
  align-items: center;
  height: 25px;
  /*border:1px solid red;*/

  padding-left: 15px;
}
a,
.user-name {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  color: #939DAE;
}
a.administrative,
a.design,
a.executive,
a.human-resources {
  text-transform: capitalize;
}
.user-name {
  margin-top: 10px;
  text-transform: capitalize;
}
h3.aside {
  color: #647183;
  text-transform: capitalize;
  font-size: 9px;
}

/*=======================================
  >>>>>>>> aside icons  <<<<<<<<
  ========================================*/
.administrative:before,
.design:before,
.executive:before,
.human-resources:before,
.home:before,
.jobs:before,
.resumes:before,
.tasks:before,
.calendar:before,
.users:before,
.locations:before,
.workflows:before,
.job-boards:before,
.social:before,
.user-name:after {
  font-family: 'FontAwesome';
  font-size: 12px;
  color: #939DAE;
  position: relative;
  padding-right: 8px;
}
.user-name:after {
  content: "\f14c";
  padding-right: 0px;
  padding-left: 5px;
}
.home:before {
  content: "\f015";
}
.jobs:before {
  content: "\f0b1";
}
.resumes:before {
  content: "\f0f6";
}
.tasks:before {
  content: "\f0ae";
}
.calendar:before {
  content: "\f133";
}
.users:before {
  content: "\f2be";
}
.locations:before {
  content: "\f124";
}
.workflows:before {
  content: "\f0e8";
}
.job-boards:before {
  content: "\f0ea";
}
.social:before {
  content: "\f143";
}
.administrative:before {
  content: "\f14a";
}
.design:before {
  content: "\f14a";
}
.executive:before {
  content: "\f14a";
}
.human-resources:before {
  content: "\f14a";
}
.home:hover,
.jobs:hover,
.resumes:hover,
.tasks:hover,
.calendar:hover,
.users:hover,
.locations:hover,
.workflows:hover,
.job-boards:hover,
.social:hover,
.administrative:hover,
.design:hover,
.executive:hover,
.human-resources:hover {
  color: white;
}
.home:hover:before,
.jobs:hover:before,
.resumes:hover:before,
.tasks:hover:before,
.calendar:hover:before,
.users:hover:before,
.locations:hover:before,
.workflows:hover:before,
.job-boards:hover:before,
.social:hover:before {
  color: white;
}
.administrative:hover:before {
  color: #ECD507;
}
.design:hover:before {
  color: #27A9F8;
}
.executive:hover:before {
  color: #E5175D;
}
.human-resources:hover:before {
  color: #07A788;
}
a:hover {
  background: #30394A;
  border-left: 2px solid #17A1F3;
}

/*=======================================
  >>>>>>>>  header  <<<<<<<<
  ========================================*/
.top-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border: 1px solid #D7E4EA;
}
.top-search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.top-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-search {
  border: 0px;
  margin: 0px;
  background-color: white;
}
.input-search::placeholder {
  color: #939DAE;
  background-color: white;
  /*color:black;*/
}
.hamburger,
.user,
.calendar2,
.button-pad {
  height: 50px;
  width: 50px;
  background: white;
  border: none;
}
.hamburger {
  border-right: 1px solid #D7E4EA;
}
.user,
.calendar2,
.button-pad {
  border-left: 1px solid #D7E4EA;
}
.hamburger:before,
.user:before,
.calendar2:before,
.button-pad:before {
  font-family: 'FontAwesome';
  font-size: 14px;
  background-color: white;
  color: #939DAE;
  position: relative;
}
.hamburger:before {
  content: "\f0c9";
}
.user:before {
  content: "\f234";
}
.calendar2:before {
  content: "\f271";
}
.button-pad:before {
  content: "\f00a";
}
.hamburger:hover:before,
.user:hover:before,
.calendar2:hover:before,
.button-pad:hover:before {
  background: #15A4FC;
  color: white;
}
.hamburger:hover,
.user:hover,
.calendar2:hover,
.button-pad:hover {
  background: #15A4FC;
  color: white;
  cursor: pointer;
  cursor: hand;
}

/*=======================================
  >>>>>>>>  nav-top  <<<<<<<<
  ========================================*/
nav.nav-top {
  display: flex;
  flex-direction: row;
  /*border: 2px solid transparent;*/

  border-bottom: 1px solid #D7E4EA;
  background: white;
}
h2.nav-top-1,
h2.nav-top-2,
h2.nav-top-3,
h2.nav-top-4,
h2.nav-top-5,
h2.nav-top-6,
h2.nav-top-7,
h2.nav-top-8 {
  font-size: 10px;
  color: #8895a5;
  text-transform: uppercase;
  margin: 14px 14px 0 14px;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
}
h2.nav-top-1 {
  margin: 14px 14px 0 0px;
}
h2.nav-top-1:hover,
h2.nav-top-2:hover,
h2.nav-top-3:hover,
h2.nav-top-4:hover,
h2.nav-top-5:hover,
h2.nav-top-6:hover,
h2.nav-top-7:hover,
h2.nav-top-8:hover,
{
  color: #67686D;
  border-bottom: 2px solid #2FABF9;
}

/*=======================================
  >>>>>>>>  service rep header  <<<<<<<<
  ========================================*/
.nav-header-container {
  padding-top: 30px;
  background-color: white;
}
.service-rep-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}
div.service-rep {
  display: flex;
  flex-direction: row;
}
h1.service-rep {
  font-weight: 400;
  font-size: 17px;
  margin: 0px;
}
h3.service-rep1,
h3.service-rep2 {
  font-weight: 400;
  padding-top: 8px;
  font-size: 10px;
  color: #8895a5;
  text-transform: capitalize;
}
h3.service-rep2 {
  color: #81CCF5;
  padding-left: 5px;
}
.open {
  font-size: 9px;
  font-weight: 700;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #D7E4EA;
  height: 25px;
  width: 60px;
}
.bookmark,
.pencil,
.trash {
  border: 1px solid #D7E4EA;
  border-radius: 100px;
  background-color: white;
  height: 25px;
  width: 25px;
}
.open:before,
.bookmark:before,
.pencil:before,
.trash:before {
  font-family: 'FontAwesome';
  font-size: 8px;
  background-color: white;
  color: #939DAE;
  position: relative;
}
.bookmark:before,
.pencil:before,
.trash:before {
  font-size: 12px;
}
.open:before {
  color: #88C92B;
  padding-right: 4px;
  content: "\f111";
}
.bookmark:before {
  content: "\f02e";
}
.pencil:before {
  content: "\f040";
}
.trash:before {
  content: "\f014";
}

/*=======================================
  >>>>>>>>  divider  <<<<<<<<
  ========================================*/
button.divider {
  padding-top: 0px;
  background: white;
  border-radius: 100px;
  border: 1px solid #D7E4EA;
  height: 25px;
  width: 25px;
}
button.divider:before {
  font-family: 'FontAwesome';
  font-size: 8px;
  background-color: white;
  color: #D7E4EA;
  position: relative;
  content: "\f077";
  border: 0px;
}
div.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
span.divider {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
span.divider:after {
  display: inline-block;
  margin: 0 0 3px 20px;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #D7E4EA;
  width: 50%;
}
span.divider:before {
  display: inline-block;
  margin: 0 20px 3px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: #D7E4EA;
  width: 40%;
}
@media (max-width: 950px) {
  .main-container {
    width: 450px;
  }

  .metrics-container {
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
  }

  .jobs-side-bar {
    flex-wrap: wrap;
    justify-content: center;
  }

  span.divider:before,
  span.divider:after {
    width: 35%
  }

  .nav-top-5,
  .nav-top-6,
  .nav-top-7 {
    display: none;
  }

  .nav-top {
    justify-content: center;
  }

  table {
    width: 450px
  }

  th {
    width: 25%;
  }

  .body-container {
    margin: 0 10px 0 10px
  }
}


@media (max-width: 589px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    background-color: #0E0E0E;

  }

  aside {
    display: none;
  }

  .this-container {
    display: none;
  }

  header.mobile {
    display: flex;
  }
  /*=======================================
  >>>>>>>>  Header  <<<<<<<<
  ========================================*/

  header.mobile {
    display: flex;
    align-items: center;
    background: #364155;
    flex-direction: column;
    width: 100%;
  }

  /*body {
    background: #f0f3f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }*/
  /*=======================================
  >>>>>>>>  nav icons  <<<<<<<<
  ========================================*/

  .fa {
    color: #ADB8CA;
    text-align: center;
  }

  .fa-home:before {
    font-size: 1.33333333em;
  }

  .fa-home:hover,
  .fa-briefcase:hover,
  .fa-file-text-o:hover,
  .fa-tasks:hover,
  .fa-calendar-o:hover,
  .fa-user-circle:hover {
    color: white;
  }

  nav.mobile {
    height: 45px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /*=======================================
  >>>>>>>>  search  <<<<<<<<
  ========================================*/

  /*form {
    display: flex;
    justify-content: center;
  }*/


  /*=======================================
  >>>>>>>>  Article  <<<<<<<<
  ========================================*/

  /*article {
    display: flex;
    width: 95vw;
    justify-content: center;
    flex-direction: column;
  }*/

  /*.table-container {
    padding: 0 10px 0 10px;
    background: white;
  }*/

  /*.article-header {
    display: flex;
    align-items: flex-start;
    width: 95vw;
  }*/

  /*.article-header-div {
    display: flex;
    flex-direction: row;
  }*/

  /*table {
    height: 500px;
    border-bottom: 1px solid black;
  }*/
  /*=======================================
  >>>>>>>>  table  <<<<<<<<
  ========================================*/

  /*.edit-button {
    float: right;
  }*/

  /*.table-wrapper {
    margin: 10px;
  }*/

  /*table-footer {
    display: none;
  }*/

  .article-header-div {
    background: #6F7E95;
    height: 40px;
    align-items: center;
  }

  .fa-facebook,
  .fa-twitter,
  .fa-linkedin-square {
    padding-left: 10px;
    float: right;
  }

  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-linkedin-square:hover {
    color: #364155;
  }

  .money {
    font-weight: 700;
  }
  .nav-header-container {
    margin-top: 5px;

}
}
@media (max-width: 470px){
  .right-side-bar-container{
    display: none;
  }
  .nav-top-3,
  .nav-top-4{
    display:none;
  }
  .service-rep-container{
    flex-wrap: wrap;
  }
  .main-container{
    width: 304px;
  }
  .circle-graph-1-container,
  .circle-graph-2-container,
  .circle-graph-3-container{
    width: 75px;
    height: 75px;
  }
  h2.circle-graph-1,
  h2.circle-graph-2,
  h2.circle-graph-3{
    font-size: 14px
  }
  h3.circle-graph-1,
  h3.circle-graph-2,
  h3.circle-graph-3{
    font-size: 8px
  }
  .graph-applicants{
    height: 102px;
    width: 300px;
  }
  table{
    width:300px;
  }
  tfoot{
    display: flex;
  }
  table-footer{
    display: flex;
  }
  th{
        width: 48%;
  }
  h3.table-header{
    font-size: 9px;
  }
  .table-row{
    flex-direction: column;
  }
  .service-rep1{
    margin-bottom: 10px;
  }



}
